
<header>
  <div  class="card-header" class="card" style="width: 400px; height: 50px;" class="btn-secondary">
      Propiedades
    <div *ngIf="this.showSelected === true">
      <i class="fas fa-minus" (click)="hide()"></i>
    </div>
    <div *ngIf="this.showSelected !== true">
        <i class="fas fa-plus" (click)="show()"></i>
    </div>
  </div>
</header>
<form *ngIf="this.showSelected"  class="form" >
  <div class="card" style="width: 400px; height: 300px;">
    <div *ngIf="data.title" class="form-group">
      <label>{{ data.title }}</label>
        <input type="text" class="form-control"  name="title" [(ngModel)]="dataForm.title" (input)="sendData(dataForm.title, dataForm.value, dataForm.extra)" >
    </div>
      <div *ngIf="data.value" class="form-group">
        <label>{{ data.value }}</label>
          <input type="text"  class="form-control"  name="value" [(ngModel)]="dataForm.value" (input)="sendData(dataForm.title, dataForm.value, dataForm.extra)" >
      </div>
      <div *ngIf="data.extra" class="form-group">
        <label>{{ data.extra }}</label>
          <input type="text" class="form-control"  name="extra" [(ngModel)]="dataForm.extra" (input)="sendData(dataForm.title, dataForm.value, dataForm.extra)" >
      </div>
  </div>
</form>


