.form {
  position: fixed;
  top: 50px;
  right: 0px;
}

form {
  position: fixed;
  top: 200px;
  right: 0px;
}

header {
  position: fixed;
  top: 0px;
  right: 0px;

}

div {
  display: inline-block;
}
